@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  background: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CARD CONTAINER */

.card {
  background: hsl(216, 50%, 16%);
  max-width: 300px;
  width: 90%;
  margin: 2em auto 4em auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

/* MAIN CARD IMAGE AND HOVER EFFECT */

.card__image-container {
  background: hsl(216, 50%, 16%);
  position: relative;
}

.card__image-container img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 6px;
  align-self: center;
}

.overlay {
  /* Use overlay div to add hover effect background */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: 0.5s ease;
  border-radius: 6px;
  background-color: hsl(178, 100%, 50%);
}

.card__svg-container {
  width: 35px;
  position: absolute;
  top: 43%;
  left: 44%;
  opacity: 0;
}

.card__image-container:hover .overlay {
  opacity: 0.4;
  cursor: pointer;
}

.card__image-container:hover .card__svg-container {
  opacity: 0.6;
}

/* NFT TITLE */

h3 {
  font-weight: 600;
  margin-bottom: 0.25em;
}

h3:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

p {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0.5em 0;
  color: hsl(215, 51%, 70%);
}

/* CARD PRICE AND TIMING */

.card__price {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0.75em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card__price img {
  margin-right: 0.25em;
}

.card__price-price {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
  margin-right: auto;
}

/* CARD CREATOR INFORMATION AND HOVER EFFECT */

.card__creator-info {
  display: flex;
  align-items: center;
}

.card__creator-info img {
  height: 12%;
  width: 12%;
  margin-right: 1em;
  border: 1px solid white;
  border-radius: 50%;
}

.card__creator-info span {
  color: hsl(0, 0%, 100%);
}

.card__creator-info span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

/* ATTRIBUTION FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
